html {
  box-sizing: border-box;
  font-size: 100%;
}

.hi {
  color: green;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
}

p {
  margin: 2rem;
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

.logo {
  width: 4rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
}

.nav-header {
  display: flex;
  top: 0;
  width: 100%;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1.5px 0px 0px rgba(0, 0, 0, 0.2);
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.navbar li {
  list-style: none;
  padding: 0 2rem;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  font-weight: 400;
  transition: 0.4s ease-in-out;
}

.navbar a:hover {
  color: rgba(229, 138, 234, 0.511);
  font-size: 1.4rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

@media only screen and (max-width: 1020px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 4.5rem;
    padding: 3rem;
    flex-direction: column;
    background-color: #ececec;
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu li {
    padding: 1rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .logo {
    width: 4rem;
    padding-top: 0rem;
    padding-left: 2rem;
  }

  .name {
    font-size: 1.6rem;
  }

  input {
    touch-action: manipulation;
    font-size: 3rem;
  }

  .reset {
    width: 12rem;
    height: 4rem;
    font-size: 3rem;
  }
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/*legends*/

.legends {
  display: grid;
  justify-content: center;
  gap: 0.1rem;
  margin: rem;
  grid-template-columns: repeat(auto-fit, minmax(27.489rem, 1fr));
}

.legend {
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 2rem;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #dddddd;
}

/*accomplishments*/

.accomplishments {
  display: grid;
  justify-content: center;
  gap: 0.15rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

.cwc,
.laliga,
.ucl {
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  text-align: center;
  flex-wrap: wrap;
  background-color: #dddddd;
}

.images {
  image-resolution: 1;
  width: 100%;
  object-fit: cover;
  background-color: #dddddd;
}

/*home & about*/

.home,
.about {
  display: grid;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  width: auto;
  text-align: center;
  margin: 2rem;
  border-radius: 2rem;
  background-color: #dddddd;
}

.best-games {
  display: grid;
  gap: 1.5rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(28.5rem, 1fr));
}

.supercup2017,
.elcasico2012,
.Copa,
.ucl2014,
.ucl2017 {
  padding: 2rem;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  border-radius: 2rem;
  background-color: #dddddd;
}

/*sign-in*/

.form-class {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  background-color: #dddddd;
  width: 30rem;
  border-radius: 2rem;
  height: 35rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.reset {
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  width: 6rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.5rem;
}

input {
  width: 20rem;
  height: 3rem;
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  border: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

/*shop*/

.kits,
.training {
  display: grid;
  gap: 0.235rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.kit,
.train {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  font-size: 1.5rem;
  position: relative;
  background-color: #dddddd;
  margin-bottom: 1rem;
}

.price {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  background-color: hsla(0, 0%, 7%, 0.7);
  width: 3rem;
  color: #ffffff;
  border-radius: 0.5rem;
}

.name {
  color: #fb00ff;
}
