html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2.65rem;
}

p {
  margin: 2rem;
  text-align: center;
}

h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

.logo {
  width: 6rem;
  padding-bottom: 0rem;
  padding-left: 1rem;
}

.nav-header {
  display: flex;
  top: 0;
  width: 100%;
  z-index: 9999;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1.5px 0px rgba(0, 0, 0, 0.2);
}

/* primary-navbar*/

.navbar {
  margin: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display: block;
  top: 0;
  width: 100%;
}

.navbar li {
  float: left;
  list-style: none;
}

.navbar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 2rem 1rem;
  text-decoration: none;
  margin: 0 1.5rem 0 0;
}

.navbar li :hover {
  background-color: #efc3f0;
  border-radius: 2rem;
}

/* mobile nav*/

.mobile-nav {
  position:fixed;
  top:0;
  left:100%;
  width:100%;
  min-height:100vh;
  display:block;
  z-index:98;
  background-color:hsla(0, 0%, 80%, 0.7);
  backdrop-filter: blur(1.5rem);
  padding-top:20rem;
  -webkit-transition:0.4s;
  transition:0.4s
}

.mobile-nav li {
  list-style: none;
}

.mobile-nav li a {
  flex-direction: column;
  display: block;
  color: black;
  margin: 2rem;
  text-align: center;
  padding: 2rem;
  text-decoration: none;
  font-size: 3rem;
  font-weight:bold ;
}
  
.mobile-nav.is-active {
  left:0
}

.toggle {
  position:absolute;
  display:none;
  right: 3rem;
  width:4rem;
  height: 2rem;
  z-index: 99;
}

.toggle .bar,.toggle::after,.toggle:before{
  content:'';
  display:block;
  width: 65px;
  height: .6rem;
  background-color:#000000;
  margin:6px 0px;
  -webkit-transition:0.4s;
  transition:0.4s ease
}
  
.toggle.is-active:before{
  transform:rotate(-45deg) translate(-10px, 10px)
}
  
.toggle.is-active:after{
  transform:rotate(45deg) translate(-10px, -10px)
}
  
.toggle.is-active .bar{
  opacity:0;
}

/*legends*/

.legends {
  display: grid;
  gap: 0.1rem;
  margin:2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.legend-1,
.legend-2,
.legend-3,
.legend-4,
.legend-5,
.legend-6,
.legend-7,
.legend-8,
.legend-9,
.legend-10 {
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  padding: 2rem;
  margin: 1.5rem;
  border-radius: 2rem;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-color: #dddddd;
}

/*accomplishments*/

.accomplishments {
  display: grid;
  gap: 0.15rem;
  margin:2rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.cwc,
.laliga,
.ucl {
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  padding: 2rem;
  margin: 1rem;
  border-radius: 2rem;
  text-align: center;
  flex-wrap: wrap;
  background-color: #dddddd;
}

.images {
  image-resolution: 1;
  width: 100%;
  object-fit: cover;
  background-color: #dddddd;
}

/*home & about*/

.home,
.about {
  display: grid;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  width: auto;
  text-align: center;
  margin: 2rem;
  border-radius: 2rem;
  background-color: #dddddd;
}

/*sign-in*/

.form-class {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form {
  display: flex;
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  background-color: #dddddd;
  width: 30rem;
  border-radius: 2rem;
  height: 35rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
}

.reset {
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  width: 6rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
  border: none;
  font-size: 1.5rem;
}

input {
  width: 20rem;
  height: 3rem;
  box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
  border: none;
  border-radius: 0.4rem;
  font-size: 1.5rem;
}

/*shop*/

.kits,
.training {
  display: grid;
  gap: 0.235rem;
  margin: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
}

.kit,
.train {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  font-size: 1.5rem;
  position: relative;
  background-color: #dddddd;
  margin-bottom: 1rem;
}

.price {
  position: absolute;
  bottom: 5rem;
  right: 1rem;
  background-color: hsla(0, 0%, 7%, 0.7);
  width: 5rem;
  color: #ffffff;
  border-radius: 0.5rem;
}

.name {
  color: #fb00ff;
}


/*table and phone*/
@media (max-width: 1020px) {
  /* phone/table-navbar*/

  .navbar {
    display: none;
  }

  .toggle {
    display: block;
  }

  .logo {
    width: 6rem;
    padding-top: 0rem;
    padding-left: 2rem;
  }

  .name {
    font-size: 1.6rem;
  }

  .form {
    display: flex;
    margin-top: 5rem;
    box-shadow: 1px 1px 1px 1px rgba(229, 138, 234, 0.511);
    background-color: #dddddd;
    width: 52rem;
    border-radius: 2rem;
    height: 75rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4rem;
  }

  input {
    touch-action: manipulation;
    font-size: 3rem;
    width: 40rem;
    height: 8rem;
  }

  .reset {
    width: 12rem;
    height: 4rem;
    font-size: 3rem;
  }
}